.App-table, .quotation-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
}

.quotation-table th, .quotation-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.quotation-table th {
  background-color: #f4f4f4;
}
